.custom-button {
  min-width: 85px;
  width: auto;
  height: 25px;
  letter-spacing: 0.5px;
  padding: 0 5px 0 5px;
  font-size: 12px;
  background-color: #03dac5;
  color: black;
  text-transform: uppercase;
  font-weight: bolder;
  border: 1px solid rgb(150, 65, 255);
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: black;
    color: beige;
  }
}