@keyframes change-color {
  from {color: #03dac5 }
  to {color: rgb(150, 65, 255)};
}

@keyframes leftmove {
  from {font-size: 60px; right: 0%; color: transparent}
  to {font-size: 30px; right: 31%; color : #03dac5}
}

@keyframes rightmove {
  from {font-size: 60px; left: 0%; color: transparent}
  to {font-size: 30px; left: 28%; color : #03dac5}
}

.welcome-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .intro-block {
    width: 100%;
    min-height: 160px;
    font-family: 'Kaushan Script';
    display: flex;
    flex-direction: column;
    align-items: center;

    .name-container {
      .name {
        font-size: 40px;
        font-weight: bold;
        transition: transform 4s;
        animation: change-color 4s infinite alternate;
      }
    }

    .welcome-container {
      width: 100%;
      min-height: 50px;
      padding: 5px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: 20px;
      color: transparent;

      .welcome {
        position: relative;
        animation: rightmove 7s;
        animation-timing-function: ease-in;
        animation-delay: 1s;
        animation-fill-mode: forwards;
      }

      .portifolio {
        position: relative;
        animation-name: leftmove;
        animation-duration: 6s;
        animation-timing-function: ease-in;
        animation-delay: 2s;
        animation-fill-mode: forwards;
      }
    }
  }

  .content {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .img-container {
      width: 30%;
      height: 300px;
      border: 1px solid #03dac5;
    }

    .description-container {
      width: 50%;
      height: 300px ;
      border: 1px solid #03dac5;
      display: flex;
      flex-direction: column;
      align-items: center;

      .title-container {
        width: 80%;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #03dac5;

        .title {
          margin: 10px;
          font-weight: bold;
        }
      }

      .description {
        padding: 10px;
      }
    }
  }
}