.header {
  width: 90%;
  height: 70%;
  margin: 25px 5%;
  display: flex;
  justify-content: space-between;
  font-family: 'Oswald, sans-serif';
  color: rgb(150, 65, 255);
  border-bottom: 1px solid rgb(150, 65, 255);

  .logo-container {
    height: 100%;
    width: 70%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .logo {
      padding: 10px 15px;
      cursor: pointer;
    }
  }

  .options {
    height: 100%;
    width: 50%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}